/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-top: 30px;
    color: #444;
}

/* Form Styles */
form {
    margin: 20px auto;
    width: 60%;
    max-width: 600px;
}

input[type="file"], button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 20px;
}

    button:hover {
        background-color: #45a049;
    }

/* Uploaded and Inpainted Images */
#image-preview, #before-image, #inpainted-image {
    height: 300px;
    object-fit: contain; /* Maintain aspect ratio */
    border-radius: 10px;
    display: block;
}

/* Image Container */
#uploaded-image, .slider-container {
    position: relative;
    margin: 20px auto 0 auto;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 11px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Drawing Canvas */
#drawing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    touch-action: none; /* Prevents default touch interactions like scrolling */
    cursor: crosshair; /* Shows a crosshair cursor for better visual feedback */
}

/* Before Image */
#before-image {
    border-radius: 10px;
}

/* After Image Container */
.after-image-container {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 50% 0 0); /* Default clip halfway */
    border-radius: 10px;
}

/* Slider Handle */
.slider-handle {
    position: absolute;
    top: 0;
    left: calc(50% - 10px); /* Center the handle initially */
    width: 20px; /* Reduce the handle size */
    height: 100%;
    background-color: #4CAF50;
    cursor: ew-resize;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Disable text selection when dragging */
.no-select, #uploaded-image, .slider-container {
    user-select: none;
}

/* Inpainting Button */
#inpaint {
    margin-top: 20px;
}

/* Tools Section */
#tools {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

    #tools button, #tools label, #tools input {
        margin: 0 5px;
    }

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.container > div {
    min-width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Hide initially hidden elements */
#prep, #res {
    display: none;
}