<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>GAN Image Inpainting</title>
    <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
    <script src="/static/scripts/script.js" defer></script>
</head>
<body>
    <h1>Upload an Image for Inpainting</h1>
    <div>
        <input type="file" name="image" id="image-input" accept="image/*">
    </div>
    <div class="container">

        <div id="prep">
            <div id="uploaded-image">
                <img id="image-preview" src="">
                <canvas id="drawing-canvas"></canvas>
            </div>

            <div id="tools">
                <div>
                    <button id="free-draw">Free Draw</button>
                    <button id="lasso-tool">Lasso Tool</button>
                    <button id="eraser">Eraser</button>
                </div>
                <div>
                    <label for="brush-size">Brush Size:</label>
                    <input type="range" id="brush-size" min="1" max="10" value="2">
                    <button id="clear-canvas">Clear</button>
                </div>
            </div>
            <div>
                <button type="button" id="inpaint">Inpaint</button>
            </div>
        </div>

        <div id="res">
            <div class="slider-container">
                <img id="before-image" src="" draggable="false">
                <div id="result" class="after-image-container">
                    <img id="inpainted-image" class="after-image" src="" alt="Inpainted image will appear here" draggable="false">
                </div>
                <div class="slider-handle"></div>
            </div>
            <div>
                <button id="download-button">Download Inpainted Image</button>
            </div>
        </div>
    </div>
</body>
</html>
